## multithread
parallel = /newlustre/home/wangkun/software/parallel/parallel-build/bin/parallel
## clustering
mmseqs2 = /newlustre/home/wangkun/software/mmseqs/mmseqs2/bin/mmseqs
makeblastdb = /newlustre/home/wangkun/software/blast/ncbi-blast-2.2.28+/bin/makeblastdb
blastp = /newlustre/home/wangkun/software/blast/ncbi-blast-2.2.28+/bin/blastp
blast2graphs = /newlustre/home/wangkun/software/blastgraphmetrics/BlastGraphMetrics/blast2graphs.py ## the python script from the pipeline of BlastGraphMetrics
mcl = /newlustre/home/wangkun/software/mcl/mcl-12-068oasis4-build/bin/mcl
## ks value estimated
#codeml = /home/share/software/PAML/paml4.8/bin/codeml
mafft = /newlustre/home/wangkun/software/mafft/mafft-linux64/mafft.bat
pal2nal = /newlustre/home/wangkun/software/pal2nal/pal2nal.v14/pal2nal.pl
Rscript = /newlustre/home/wangkun/software/R/build/bin/Rscript
